* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Inter";
}
body.user_act_page {
  background: var(--bs-res-gray);
}
@media (min-width: 768px) {
  body.user_act_page {
    background: url("../../images/logobg.png") no-repeat var(--bs-purple);
    background-size: 52%;
    background-attachment: fixed;
  }
}

.input_field {
  font-size: 0.875rem;
  line-height: 16px;
  padding: 13px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: var(--bs-black);
}

.custom_form_lbl {
  font-size: 1rem;
  color: var(--bs-black);
  font-weight: 500;
}

.font700 {
  font-weight: 700;
}

.font500 {
  font-weight: 500;
}

.font600 {
  font-weight: 600;
}

.fontbold {
  font-weight: bold;
}

.page_title {
  font-size: 1.3rem;
  line-height: 39px;
  letter-spacing: 0.3px;
  color: var(--bs-secondary);
}

.modal .modal-header {
  border-bottom: none;
  padding: 32px 32px 24px 32px;
}
.modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 28px;
}
.modal .modal-body {
  padding: 8px 32px 32px 32px;
}
.modal .modal-body p {
  font-size: 1rem;
  line-height: 19px;
  margin-bottom: 8px;
  color: var(--bs-black);
}
.modal .modal-body .about_survey_container textarea {
  resize: none;
  font-size: 0.875rem;
}
.modal .modal-body .about_survey_container textarea:focus {
  box-shadow: none;
}
.modal .modal-body .about_survey_container .charLimit {
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: var(--bs-light-blue);
}
.modal .modal-body .experience_survey_container .form-label {
  font-size: 0.875rem;
  line-height: 19px;
  margin-bottom: 8px;
  font-weight: 500;
}
.modal .modal-body .experience_survey_container .form-control {
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 0.3;
  padding: 11px 10px;
  border-color: var(--bs-gray);
}
.modal .modal-footer {
  border-top: none;
  padding: 8px 32px 32px 32px;
}

.save_btn {
  width: 88px;
}
.save_btn .button {
  padding: 12px 16px;
}

.remove_btn {
  width: 113px;
}
.remove_btn .button {
  padding: 12px 16px;
}

.form-check-input {
  border: 1px solid var(--bs-black);
}
.form-check-input:checked[type=checkbox] {
  background-image: url("../../images/checkbox_checked.png") !important;
  background: url("../../images/checkbox_checked.png") var(--bs-white) no-repeat center !important;
  border-color: var(--bs-black);
}
.form-check-input:focus {
  box-shadow: none !important;
  border-color: var(--bs-black);
}

.add_your {
  margin-top: 40px;
}

.dropdown-toggle {
  border: 1px solid var(--bs-white);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bs-primary);
  font-weight: 600;
}
.dropdown-toggle::after {
  background: url("../../images/downarr.png") no-repeat right;
  border: none;
  width: 14px;
  height: 8px;
}
.dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
}

.dropdown-toggle::after {
  background: url("../../images/downarr.png") no-repeat right;
  border: none;
  width: 14px;
  height: 8px;
}

.chip_ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 16px;
  margin: 40px 0 40px 0;
}
.chip_ul .chip_li {
  padding: 10px 24px;
  font-size: 0.875rem;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: var(--bs-black);
  background: var(--bs-dark-gray1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid var(--bs-black);
}

.skills_list_chip .chip_li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.error_note {
  font-size: 0.85rem;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: var(--bs-red-error) !important;
  display: block;
  width: 100%;
}

.dropdown-menu {
  min-width: 100% !important;
}

.custom_alert {
  position: fixed;
  top: 75px;
  z-index: 1;
  right: 25px;
  padding: 14px 32px 12px 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.custom_alert.custom_alert_login {
  top: inherit;
  bottom: 0px;
}
@media (max-width: 576px) {
  .custom_alert.custom_alert_login {
    width: calc(100% - 50px);
  }
}
@media (min-width: 768px) {
  .custom_alert.custom_alert_login {
    top: 30px;
    bottom: inherit;
  }
}
.custom_alert.alert-success {
  background: var(--bs-alert-success);
  border-left: 8px solid green;
}
.custom_alert.alert-danger {
  background: var(--bs-red-light);
  border-left: 8px solid var(--bs-red-error);
}
.custom_alert.alert-warning {
  background: var(--bs-light-warning);
  border-left: 8px solid var(--bs-warning);
}
.custom_alert.alert-info {
  background: var(--bs-light-blue);
  border-left: 8px solid var(--bs-blue);
}
.custom_alert .alert_lbl {
  padding-right: 20px;
}
.custom_alert .alert_lbl .heading {
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--bs-black);
}
.custom_alert .alert_lbl .para {
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--bs-black);
}
.custom_alert .alert_wrap {
  gap: 16px;
}
.custom_alert .btn-close {
  opacity: 1;
  background: url("../../images/close.png") no-repeat;
  top: 15px;
  right: 20px;
}

.error_wrap input {
  border-color: var(--bs-red-error);
  background: url("../../images/valerror.png") no-repeat right 10px center !important;
}
.error_wrap .error {
  font-size: 0.75rem;
  line-height: 17px;
  color: var(--bs-red-error);
  text-transform: capitalize;
  margin-top: 4px;
}

.error_warning {
  gap: 10px;
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--bs-warning1);
  margin-top: 4px;
}

.hr_divider {
  border-bottom: 1px solid var(--bs-divider);
  margin: 37px 0;
}

.button {
  font-size: 1rem;
  line-height: 16px;
  padding: 16px;
  width: 100%;
  background: var(--bs-primary);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: var(--bs-white);
  border: 1px solid var(--bs-primary);
  font-weight: 700;
}
.button.secondary_btn {
  border: 1px solid var(--bs-secondary);
  background: var(--bs-white);
  color: var(--bs-primary);
}
.button.rounded_btn {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

table {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
table thead th {
  background: var(--bs-th);
  font-size: 0.875rem;
  line-height: 19px;
  font-weight: 500;
  padding: 16px;
}
table thead th:nth-child(1) {
  border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
}
table thead th:last-child {
  border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
}
table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--bs-purple1);
}
table tbody tr td {
  font-size: 0.8rem;
  padding: 16px;
}

.registartion_title_h4 {
  font-size: 1.6rem;
  padding: 40px 0 0 0;
  text-align: center;
  color: var(--bs-primary);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .registartion_title_h4 {
    max-width: 592px;
    margin: 0 auto;
    font-size: 3rem;
  }
}
.registartion_title_h4 .res_logo {
  display: block;
}
@media (min-width: 768px) {
  .registartion_title_h4 .res_logo {
    display: none;
  }
}

.registration_pg {
  background: var(--bs-white);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
}
@media (min-width: 768px) {
  .registration_pg {
    max-width: 592px;
    margin: 30px auto;
    border: 1px solid var(--bs-primary);
  }
}
.registration_pg .text_readonly {
  color: var(--bs-gray);
}
.registration_pg .registration_top {
  padding: 24px 0 66px 0;
  display: none;
}
@media (min-width: 768px) {
  .registration_pg .registration_top {
    display: flex;
  }
}
.registration_pg .res_top {
  margin-top: 56px;
}
@media (min-width: 768px) {
  .registration_pg .res_top {
    margin-top: 0;
  }
}
.registration_pg .back_txt {
  color: var(--bs-black);
  font-size: 0.875rem;
  gap: 12px;
  line-height: 16px;
}
.registration_pg .registration_panel {
  padding: 0 16px;
  background: var(--bs-res-gray);
}
@media (min-width: 768px) {
  .registration_pg .registration_panel {
    padding: 0 50px;
    background: var(--bs-white);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
  }
}
.registration_pg .registration_panel .registration_container .title {
  font-size: 1.5rem;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 38px;
}
.registration_pg .registration_panel .registration_container .pwd-cls {
  background: url("../../images/eye-off.png") no-repeat right;
  background-position: 97%;
}
.registration_pg .registration_panel .registration_container .eye_cls {
  top: 10px;
  right: 15px;
}
.registration_pg .registration_panel .registration_container .pwdlock {
  background: url(../../images/lock.png) var(--bs-disabled) no-repeat left;
  background-position: 2% 50%;
  padding-left: 35px;
}
.registration_pg .registration_panel .registration_container .form-check-label {
  font-size: 0.875rem;
  line-height: 18px;
}
.registration_pg .registration_panel .registration_container .reg_warp {
  margin-bottom: 38px;
}
.registration_pg .registration_panel .registration_container .reg_warp .forget_pwd_lbl {
  font-size: 0.875rem;
  color: var(--bs-primary);
  line-height: 16px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .registration_pg .registration_panel .registration_container .reg_warp .forget_pwd_lbl {
    text-decoration: underline;
    color: var(--bs-black);
  }
}
.registration_pg .registration_panel .registration_container .continue_btn {
  gap: 16px;
}
.registration_pg .registration_panel .registration_container .btn_panel {
  padding: 0 28px;
}
.registration_pg .registration_panel .registration_container .btn_panel .createpwd_list_ul {
  margin-bottom: 57px;
}
.registration_pg .registration_panel .registration_container .btn_panel .createpwd_list_ul li {
  list-style-type: none;
  font-size: 0.75rem;
  line-height: 14px;
  color: var(--bs-gray);
  padding-bottom: 6px;
  position: relative;
  padding-left: 10px;
}
.registration_pg .registration_panel .registration_container .btn_panel .createpwd_list_ul li::before {
  content: "";
  position: absolute;
  background: url("../../images/check.png") no-repeat;
  left: -17px;
  width: 16px;
  height: 16px;
}
.registration_pg .registration_panel .registration_container .divider_or {
  position: relative;
}
.registration_pg .registration_panel .registration_container .divider_or::after {
  content: "";
  position: absolute;
  border-top: 1px solid gray;
  width: 100%;
}
.registration_pg .registration_panel .registration_container .or_lbl {
  left: 42%;
  top: 12px;
  background: var(--bs-res-gray);
  z-index: 1;
  padding: 0 12px;
}
@media (min-width: 768px) {
  .registration_pg .registration_panel .registration_container .or_lbl {
    background: var(--bs-white);
    left: 46%;
  }
}
.registration_pg .registration_panel .registration_container .already_section .already_lbl {
  padding: 37px 0 66px 0;
  font-size: 1rem;
  color: var(--bs-black);
  line-height: 18px;
  margin-bottom: 0;
}
.registration_pg .registration_panel .registration_container .already_section .logintxt {
  color: var(--bs-primary);
}
.registration_pg .registration_panel .registration_container .already_section .chk_your_mail_already {
  padding: 76px 0 66px 0;
}
.registration_pg .registration_panel .registration_container .reg_subtitle {
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 38px;
}
.registration_pg .registration_panel .registration_container .chk_your_mail .form-control {
  width: 47px;
  height: 65px;
  text-align: center;
}
.registration_pg .registration_panel .registration_container .chk_your_mail .chk_your_mail_container {
  gap: 12px;
}
.registration_pg .registration_panel .registration_container.create_new_pwd .btn_panel {
  padding-bottom: 66px;
}
.registration_pg .registration_panel .registration_container.forgotpwd .btn_panel {
  padding: 28px 28px 70px 28px;
}

.content_wrapper .card .left_logo_ecosystem {
  width: 128px;
  height: 128px;
}
.content_wrapper .card .ecosystem_profile .profile_content_subtitle,
.content_wrapper .card .ecosystem_profile .profile_content_info {
  color: var(--bs-black);
}
.content_wrapper .card .ecosystem_profile .established_profile_content {
  font-size: 0.875rem;
  line-height: 19px;
  font-weight: 500;
  color: var(--bs-black);
  margin-bottom: 0;
}
.content_wrapper .card .profile_card_ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
}
.content_wrapper .card .profile_card_ul li {
  font-size: 1rem;
  line-height: 22px;
  color: var(--bs-black);
  padding: 10px;
  color: var(--bs-black);
  position: relative;
  cursor: pointer;
}
.content_wrapper .card .profile_card_ul li.active {
  background: var(--bs-gray-highlight);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-weight: 600;
}
.content_wrapper .card .profile_card_ul li .li_br_bttm {
  position: absolute;
  border: 2px solid var(--bs-secondary);
  width: 100%;
  left: 0;
  bottom: -7px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.content_wrapper .card .tab_content .para_heading {
  font-size: 0.875rem;
  line-height: 24px;
  color: var(--bs-black);
  margin-bottom: 32px;
  font-weight: 500;
}
.content_wrapper .card .tab_content .graph_card {
  margin-bottom: 32px;
}
.content_wrapper .card .tab_content .graph_card .sector_category_card {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1019607843);
}
.content_wrapper .card .tab_content .graph_card .sector_category_card_title {
  padding: 27px 42px;
  font-size: 1.12rem;
  line-height: 23px;
  font-weight: 600;
}
.content_wrapper .card .tab_content .graph_card .sector_category_card_body {
  padding: 20px;
  border-top: 1px solid var(--bs-gray4);
}
.content_wrapper .card .tab_content .tab_content_wrap .title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--bs-black);
  margin-bottom: 22px;
}
.content_wrapper .card .tab_content .tab_content_wrap .investment_wrap {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 32px;
}
.content_wrapper .card .tab_content .tab_content_wrap .investment_wrap .title {
  font-size: 1.12rem;
  line-height: 22px;
}
.content_wrapper .card .tab_content .tab_content_wrap .latest_heading {
  font-size: 1.3rem;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}
.content_wrapper .card .tab_content .tab_content_wrap .card_wrap {
  gap: 12px;
  border: 1px solid var(--bs-gray-border);
  padding: 32px 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.content_wrapper .card .tab_content .tab_content_wrap .card_wrap .title,
.content_wrapper .card .tab_content .tab_content_wrap .card_wrap .link_tag {
  font-size: 0.875rem;
  line-height: 19px;
  font-weight: 600;
  color: var(--bs-black);
  margin-bottom: 0;
}
.content_wrapper .card .tab_content .tab_content_wrap .card_wrap .link_tag {
  color: var(--bs-primary);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 17px;
}
.content_wrapper .card .tab_content .tab_content_wrap .card_wrap .date_time_info {
  color: var(--bs-black);
  font-size: 0.8rem;
  line-height: 17px;
}

body {
  background: var(--bs-disabled);
}

.content_wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.content_wrapper .card {
  border: 1px solid var(--bs-gray-border);
  background: var(--bs-white);
  padding: 30px;
  flex-direction: row;
  gap: 36px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.content_wrapper .card .left_logo {
  width: 100px;
  height: 100px;
  background: var(--bs-light-gray);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.content_wrapper .card .profile_content {
  width: calc(100% - 136px);
}
.content_wrapper .card .profile_content.active_profile_content .profile_content_info,
.content_wrapper .card .profile_content.active_profile_content .profile_content_title,
.content_wrapper .card .profile_content.active_profile_content .profile_content_subtitle {
  color: var(--bs-black) !important;
}
.content_wrapper .card .profile_content_support_lbl {
  margin-bottom: 38px;
  font-size: 1rem;
  line-height: 20px;
  color: var(--bs-black);
}
.content_wrapper .card .profile_content_title {
  font-size: 1.3rem;
  margin-bottom: 5px;
  line-height: 29px;
  letter-spacing: 0.3px;
}
.content_wrapper .card .profile_content_subtitle {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--bs-light-gray3);
}
.content_wrapper .card .profile_content_subtitle.abt_txt {
  color: var(--bs-black);
}
.content_wrapper .card .profile_content_info {
  font-size: 0.875rem;
  color: var(--bs-light-gray3);
}
.content_wrapper .card .profile_content .profile_txt {
  font-size: 0.875rem;
  color: var(--bs-black);
  line-height: 19px;
}
.content_wrapper .card .profile_content .form-select {
  font-size: 1rem;
  line-height: 24px;
  border-color: var(--bs-light-gray1);
}
.content_wrapper .card .profile_content .profile_wrap {
  gap: 15px;
}
.content_wrapper .card .profile_content .profile_wrap .analytical_title {
  font-size: 1.18rem;
  line-height: 24px;
}
.content_wrapper .card .profile_content .profile_wrap .analytical_para {
  font-size: 1rem;
  line-height: 22px;
}
.content_wrapper .card .profile_content .profile_content_box {
  gap: 24px;
}
.content_wrapper .card .profile_content .profile_content_box:not(:last-child) {
  border-bottom: 1px solid var(--bs-light-gray2);
  margin-bottom: 32px;
}
.content_wrapper .card .profile_content .profile_content_box .profile_content_title {
  font-size: 1.12rem;
  margin-bottom: 4px;
  line-height: 24px;
  color: var(--bs-light-gray3);
}

.experience_survey_container .form-check {
  border: 1px solid var(--bs-light-gray1);
  padding: 9px 35px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.experience_survey_container .form-check .form-check-label {
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--bs-black);
}
.experience_survey_container .loc_txt {
  font-size: 1.1rem;
}

.summary_btn {
  padding: 16px 30px;
}

header {
  background: var(--bs-purple);
  padding: 0 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--bs-secondary);
}
@media (min-width: 768px) {
  header .menu ul {
    list-style: none;
    margin-bottom: 0;
  }
  header .menu ul li {
    padding: 10px 12px;
  }
  header .menu ul li .menu_span {
    padding: 12px 10px;
    gap: 16px;
    font-size: 1rem;
    border: 1px solid transparent;
  }
  header .menu ul li .menu_span:hover {
    border: 1px solid var(--bs-primary);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }
  header .menu ul li .menu_span .dropdown-menu {
    transform: translate(0px, 48px) !important;
    border: 1px solid var(--bs-primary);
    border-top: transparent;
    left: -9px !important;
  }
  header .rt_menu ul {
    list-style: none;
    margin-bottom: 0;
    gap: 18px;
  }
  header .rt_menu ul li .rt_menu_span {
    font-size: 0.875rem;
    gap: 14px;
  }
  header .rt_menu ul li .rt_menu_span .gray_img_bx {
    width: 44px;
    height: 44px;
    background: var(--bs-dark-gray);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  }
  header .rt_menu ul li .rt_menu_span.rt_menu_user {
    font-size: 1rem;
  }
  header .rt_menu .dropdown-toggle {
    border: 1px solid var(--bs-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--bs-primary);
    font-weight: 600;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }
  header .rt_menu .dropdown-toggle::after {
    background: url("../../images/downarr.png") no-repeat right;
    border: none;
    width: 14px;
    height: 8px;
  }
  header .rt_menu .lang_drp .dropdown-menu {
    transform: translate(0px, 50px) !important;
    min-width: 100%;
  }
  header .rt_menu .dropdown-menu {
    padding: 0 16px;
  }
  header .rt_menu .dropdown-menu li {
    padding: 16px 0;
  }
  header .rt_menu .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid var(--bs-light-gray);
    margin-bottom: 8px;
  }
  header .rt_menu .dropdown-menu li .dropdown-item {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0;
    font-size: 0.875rem;
  }
  header .rt_menu .dropdown-menu li .dropdown-item:active, header .rt_menu .dropdown-menu li .dropdown-item:hover {
    background: var(--bs-white);
    color: var(--bs-black);
  }
  header .rt_menu .dropdown-menu.profile-drp-menu {
    transform: translate(16px, 62px) !important;
  }
}
header .logo {
  padding-left: 0px;
}
header .logo a {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  line-height: 29px;
  color: var(--bs-secondary);
}

@media (min-width: 768px) {
  .main_content {
    padding-top: 68px;
  }
}
.main_content .leftsidebar {
  width: 240px;
  background: var(--bs-purple);
  height: calc(100vh - 100px);
  height: calc(100vh - 68px);
  overflow-y: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--bs-secondary);
}
@media (min-width: 768px) {
  .main_content .leftsidebar {
    position: fixed;
    top: 68px;
  }
}
.main_content .leftsidebar ul {
  padding: 20px 16px 32px 16px;
}
.main_content .leftsidebar ul li {
  list-style: none;
  padding: 12px 16px;
}
.main_content .leftsidebar ul li a {
  gap: 20px;
  color: var(--bs-primary);
  font-weight: 600;
}
.main_content .leftsidebar ul li.active {
  background: var(--bs-white);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.main_content .leftsidebar ul li.active a {
  color: var(--bs-primary);
}
.main_content .leftsidebar ul li.active a span {
  font-weight: 700;
}
.main_content .main_content_right {
  margin-left: 240px;
  padding: 24px 32px;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/InterBold.woff2") format("woff2"), url("../../fonts/InterBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/InterLight.woff2") format("woff2"), url("../../fonts/InterLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/InterMedium.woff2") format("woff2"), url("../../fonts/InterMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/InterRegular.woff2") format("woff2"), url("../../fonts/InterRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/InterSemiBold.woff2") format("woff2"), url("../../fonts/InterSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --bs-purple: #d5d3eb;
  --bs-white: #fff;
  --bs-gray: #a6a6a6;
  --bs-black: #1f242a;
  --bs-primary: #4e2a8c;
  --bs-secondary: #3a127f;
  --bs-disabled: #f1f4f9;
  --bs-dark-gray: #979797;
  --bs-light-gray: #d9d9d9;
  --bs-light-gray1: #d0d5dd;
  --bs-light-gray2: #e8e8e8;
  --bs-light-blue: #6a8295;
  --bs-light-gray3: #8f8f8f;
  --bs-dark-gray1: #b7c7d0;
  --bs-dark-blue2: #ccdfe8;
  --bs-red-error: #ea4335;
  --bs-gray-border: #d8d8d8;
  --bs-res-gray: #f6f5ff;
  --bs-alert-success: #daffe4;
  --bs-red-light: #ffe1df;
  --bs-warning: #fbc605;
  --bs-light-warning: #fff5d1;
  --bs-blue: #4285f4;
  --bs-light-blue: #ebf2ff;
  --bs-warning1: #fd7f00;
  --bs-gray-highlight: #efeeff;
  --bs-gray4: #ececec;
  --bs-th: #d5d3eb;
  --bs-purple1: #e1cfff;
  --bs-divider: #e9e9e9;
  --bs-black:#565656;
}/*# sourceMappingURL=style.css.map */