@import '../scss/utilities/utilities';
@import '../scss/pages/pages';
@import '../scss/base/base';

:root {
  --bs-purple: #d5d3eb;
  --bs-white: #fff;
  --bs-gray: #a6a6a6;
  --bs-black: #1f242a;
  --bs-primary: #4e2a8c;
  --bs-secondary: #3a127f;
  --bs-disabled: #f1f4f9;
}
