@import '../scss/utilities/utilities';
@import '../scss/pages/pages';
@import '../scss/base/base';

:root {
  --bs-purple: #d5d3eb;
  --bs-white: #fff;
  --bs-gray: #a6a6a6;
  --bs-black: #1f242a;
  --bs-primary: #4e2a8c;
  --bs-secondary: #3a127f;
  --bs-disabled: #f1f4f9;
  --bs-dark-gray: #979797;
  --bs-light-gray: #d9d9d9;
  --bs-light-gray1: #d0d5dd;
  --bs-light-gray2: #e8e8e8;
  --bs-light-blue: #6a8295;
  --bs-light-gray3: #8f8f8f;
  --bs-dark-gray1: #b7c7d0;
  --bs-dark-blue2: #ccdfe8;
  --bs-red-error: #ea4335;
  --bs-gray-border: #d8d8d8;
  --bs-res-gray: #f6f5ff;
  --bs-alert-success: #daffe4;
  --bs-red-light: #ffe1df;
  --bs-warning: #fbc605;
  --bs-light-warning: #fff5d1;
  --bs-blue: #4285f4;
  --bs-light-blue: #ebf2ff;
  --bs-warning1:#FD7F00;

}
