.content_wrapper {
  .card {
    .profile_content {
      .prev {
        transform: rotate(180deg);
      }
      .profile_br {
        border-bottom: 1px solid var(--bs-gray-border);
      }
    }
    .left_logo_ecosystem {
      width: 128px;
      height: 128px;
    }
    .ecosystem_profile {
      .profile_content_subtitle,
      .profile_content_info {
        color: var(--bs-black);
      }
      .established_profile_content {
        font-size: 0.875rem;
        line-height: 19px;
        font-weight: 500;
        color: var(--bs-black);
        margin-bottom: 0;
      }
    }
    .profile_card_ul {
      padding-left: 0;
      display: flex;
      list-style: none;
      gap: 20px;
      flex-wrap: nowrap;
      padding-bottom: 5px;
      overflow: hidden;

      li {
        // font-size: 1rem;
        // line-height: 22px;

        // padding: 10px;
        color: var(--bs-black);
        position: relative;
        cursor: pointer;
        .nav-link {
          color: var(--bs-black);
          font-size: 1rem;
          line-height: 22px;
          padding: 10px;
          position: relative;
          margin-bottom: 3px;
          &.active {
            background: var(--bs-gray-highlight);
            @include border-radius(8px);
            font-weight: 600;
            &::after {
              content: '';
              position: absolute;
              border: 2px solid var(--bs-secondary);
              width: 100%;
              left: 0;
              bottom: -8px;
              border-radius: 8px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
    .tab_content {
      .para_heading {
        font-size: 0.875rem;
        line-height: 24px;
        color: var(--bs-black);
        margin-bottom: 32px;
        font-weight: 500;
      }
      .graph_card {
        margin-bottom: 32px;
        .sector_category_card {
          box-shadow: 0px 2px 10px 0px #0000001a;
          &_title {
            padding: 27px 42px;
            font-size: 1.12rem;
            line-height: 23px;
            font-weight: 600;
          }
          &_body {
            padding: 20px;
            border-top: 1px solid var(--bs-gray4);
          }
        }
      }
      .tab_content_wrap {
        .title {
          font-size: 1.4rem;
          font-weight: 700;
          color: var(--bs-black);
          margin: 0 0 24px 0;
        }
        .investment_wrap {
          box-shadow: 0px 2px 10px 0px #0000001a;
          padding: 32px;
          margin-bottom: 32px;
          .title {
            font-size: 1.12rem;
            line-height: 22px;
          }
          .para {
            font-size: 0.9rem;
            line-height: 23px;
            color: var(--bs-black);
          }
          .investment_container {
            .title {
              font-size: 1.12rem;
              line-height: 24px;
              color: var(--bs-primary);
              margin-bottom: 16px;
            }
          }
          .view_btn {
            gap: 13px;
            padding: 13px 24px;
            margin-top: 36px;
          }
          .partners_areas_wrap {
            margin-top: 40px;
            &.objectives_wrap {
              .partners_areas_wrap_title {
                margin-bottom: 24px;
              }
              .lead_Env_card {
                border: 1px solid var(--bs-gray-highlight);
                padding: 16px;
                gap: 16px;
                @include border-radius(8px);
                .keyobjective_card_para {
                  font-size: 1rem;
                  line-height: 22px;
                  color: var(--bs-black);
                  font-weight: 500;
                  padding-top: 0;
                }
              }
            }
            &_title {
              font-size: 1.1rem;
              line-height: 24px;
              color: var(--bs-primary);
              font-weight: 700;
              margin-bottom: 12px;
            }
            .partners_areas_info {
              font-size: 1rem;
              color: var(--bs-black);
              line-height: 22px;
              gap: 8px;
              font-weight: 500;
            }
            .keyobjective_card {
              border: 1px solid var(--bs-purple1);
              background: var(--bs-purple2);
              @include border-radius(8px);
              padding: 23px 16px 16px 16px;
              &_para {
                padding-top: 20px;
                font-size: 1rem;
                line-height: 24px;
                color: var(--bs-black);
                margin-bottom: 0;
              }
              img {
                width: 45px;
                height: 45px;
              }
            }
          }
        }
        .area_partners {
          padding: 20px;
          border: 1px solid;
          @include border-radius(8px);
          &.focus {
            border-color: var(--bs-dark-pink);
            background: var(--bs-light-pink);
          }
          &.green {
            border-color: var(--bs-dark-green);
            background: var(--bs-light-green);
          }
          .area_partners_ul {
            padding-left: 30px !important;
            li {
              font-size: 0.87rem;
              margin-bottom: 5px;
            }
          }
        }
        .latest_heading {
          font-size: 1.3rem;
          line-height: 28px;
          font-weight: 700;
          margin-bottom: 24px;
        }
        .card_wrap {
          gap: 12px;
          border: 1px solid var(--bs-gray-border);
          padding: 32px 24px;
          @include border-radius(8px);
          .title,
          .link_tag {
            font-size: 0.875rem;
            line-height: 19px;
            font-weight: 600;
            color: var(--bs-black);
            margin-bottom: 0;
          }
          .link_tag {
            color: var(--bs-primary);
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 17px;
          }
          .date_time_info {
            color: var(--bs-black);
            font-size: 0.8rem;
            line-height: 17px;
          }
        }
      }
    }
  }
}
