body {
  background: var(--bs-disabled);
}
.content_wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  .card {
    // border: 1px solid var(--bs-primary);
    border: 1px solid var(--bs-gray-border);
    background: var(--bs-white);
    padding: 30px;
    flex-direction: row;
    gap: 36px;
    @include border-radius(8px);

    .left_logo {
      width: 100px;
      height: 100px;
      background: var(--bs-light-gray);
      @include border-radius(50px);
    }
    .profile_content {
      width: calc(100% - 136px);
      &_title {
        font-size: 1.3rem;
        margin-bottom: 5px;
        line-height: 29px;
        letter-spacing: 0.3px;
      }
      &_subtitle {
        font-size: 1rem;
        color: var(--bs-black);
        margin-bottom: 5px;
        color: var(--bs-light-gray3);
        &.abt_txt {
          color: var(--bs-black);
        }
      }
      &_info {
        font-size: 0.875rem;
        color: var(--bs-black);
        color: var(--bs-light-gray3);
      }
      .form-select {
        font-size: 1rem;
        line-height: 24px;
        border-color: var(--bs-light-gray1);
      }
      .profile_wrap {
        gap: 15px;
        .analytical_title {
          font-size: 1.18rem;
          line-height: 24px;
        }
        .analytical_para {
          font-size: 1rem;
          line-height: 22px;
        }
      }
      .profile_content_box {
        gap: 24px;
        &:not(:last-child) {
          border-bottom: 1px solid var(--bs-light-gray2);
          margin-bottom: 32px;
        }
        .profile_content_title {
          font-size: 1.12rem;
          margin-bottom: 4px;
          line-height: 24px;
          color: var(--bs-light-gray3);
        }
      }
    }
  }
}
.experience_survey_container {
  .form-check {
    border: 1px solid var(--bs-light-gray1);
    padding: 9px 35px;
    @include border-radius(8px);
    .form-check-label {
      font-size: 0.875rem;
      line-height: 17px;
      color: var(--bs-black);
    }
  }
  .loc_txt {
    font-size: 1.1rem;
  }
}
