.registartion_title_h4 {
  // font-size: 1.8rem;
  font-size: 1.6rem;
  padding: 40px 0 0 0;
  text-align: center;
  color: var(--bs-primary);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  @include medium-screen {
    max-width: 592px;
    margin: 0 auto;
    font-size: 3rem;
  }
  .res_logo {
    display: block;
    @include medium-screen {
      display: none;
    }
  }
}
.registration_pg {
  background: var(--bs-white);
  @include border-radius(24px);
  @include medium-screen {
    max-width: 592px;
    margin: 30px auto;
    border: 1px solid var(--bs-primary);
  }
  .text_readonly {
    color: var(--bs-gray);
  }
  .registration_top {
    padding: 24px 0 66px 0;
    display: none;
    @include medium-screen {
      display: flex;
    }
  }
  .res_top {
    margin-top: 56px;
    @include medium-screen {
      margin-top: 0;
    }
  }
  .back_txt {
    color: var(--bs-black);
    font-size: 0.875rem;
    gap: 12px;
    line-height: 16px;
  }
  .registration_panel {
    padding: 0 16px;
    background: var(--bs-res-gray);
    @include medium-screen {
      padding: 0 50px;
      background: var(--bs-white);
      @include border-radius(24px);
    }
    .registration_container {
      .title {
        font-size: 1.5rem;
        line-height: 31px;
        font-weight: 700;
        margin-bottom: 38px;
      }
      .pwd-cls {
        background: url('../../images/eye-off.png') no-repeat right;
        background-position: 97%;
      }
      .eye_cls {
        top: 10px;
        right: 15px;
      }
      .pwdlock {
        background: url(../../images/lock.png) var(--bs-disabled) no-repeat left;
        background-position: 2% 50%;
        padding-left: 35px;
      }
      .form-check-label {
        font-size: 0.875rem;
        line-height: 18px;
      }
      .reg_warp {
        margin-bottom: 38px;
        .forget_pwd_lbl {
          font-size: 0.875rem;
          color: var(--bs-primary);
          line-height: 16px;
          text-decoration: none;
          @include medium-screen {
            text-decoration: underline;
            color: var(--bs-black);
          }
        }
      }
      .continue_btn {
        gap: 16px;
      }
      .btn_panel {
        padding: 0 28px;
        .createpwd_list_ul {
          margin-bottom: 57px;
          li {
            list-style-type: none;
            font-size: 0.75rem;
            line-height: 14px;
            color: var(--bs-gray);
            padding-bottom: 6px;
            position: relative;
            padding-left: 10px;
            &::before {
              content: '';
              position: absolute;
              background: url('../../images/check.png') no-repeat;
              left: -17px;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
      .divider_or {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          border-top: 1px solid gray;
          width: 100%;
        }
      }
      .or_lbl {
        left: 46%;
        top: 12px;
        background: var(--bs-white);
        z-index: 1;
        padding: 0 12px;
      }
      .already_section {
        .already_lbl {
          padding: 37px 0 66px 0;
          font-size: 1rem;
          color: var(--bs-black);
          line-height: 18px;
          margin-bottom: 0;
        }
        .logintxt {
          color: var(--bs-primary);
        }
        .chk_your_mail_already {
          padding: 76px 0 66px 0;
        }
      }
      .reg_subtitle {
        font-size: 1rem;
        line-height: 20px;
        margin-bottom: 38px;
      }

      .chk_your_mail {
        .form-control {
          width: 47px;
          height: 65px;
          text-align: center;
        }
        .chk_your_mail_container {
          gap: 12px;
        }
      }
      &.create_new_pwd {
        .btn_panel {
          padding-bottom: 66px;
        }
      }
      &.forgotpwd {
        .btn_panel {
          padding: 28px 28px 70px 28px;
        }
      }
    }
  }
}
// .img-container-left{
//   position: fixed;
//   top: 0;
//   z-index: -1;
// }
