* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  // background: var(--bs-purple);

  font-size: 1rem;
  font-family: 'Inter';
  &.user_act_page {
    background: var(--bs-res-gray);
    @include medium-screen {
      background: url('../../images/logobg.png') no-repeat var(--bs-purple);
      background-size: 52%;
      background-attachment: fixed;
    }
  }
}
.input_field {
  font-size: 0.875rem;
  line-height: 16px;
  padding: 13px 12px;
  // background: var(--bs-disabled);
  @include border-radius(8px);
  color: var(--bs-black);
}
.custom_form_lbl {
  font-size: 1rem;
  color: var(--bs-black);
  font-weight: 500;
}
.font700 {
  font-weight: 700;
}
.font500 {
  font-weight: 500;
}
.font600 {
  font-weight: 600;
}
.fontbold {
  font-weight: bold;
}
.page_title {
  font-size: 1.3rem;
  line-height: 39px;
  letter-spacing: 0.3px;
  color: var(--bs-secondary);
}
.modal {
  .modal-header {
    border-bottom: none;
    padding: 32px 32px 24px 32px;
    .modal-title {
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 28px;
    }
  }
  .modal-body {
    padding: 8px 32px 32px 32px;
    p {
      font-size: 1rem;
      line-height: 19px;
      margin-bottom: 8px;
      color: var(--bs-black);
    }
    .about_survey_container {
      textarea {
        resize: none;
        font-size: 0.875rem;
        &:focus {
          box-shadow: none;
        }
      }
      .charLimit {
        font-size: 0.875rem;
        line-height: 17px;
        letter-spacing: -0.3px;
        color: var(--bs-light-blue);
      }
    }
    .experience_survey_container {
      .form-label {
        font-size: 0.875rem;
        line-height: 19px;
        margin-bottom: 8px;
        font-weight: 500;
      }
      .form-control {
        font-size: 0.875rem;
        line-height: 17px;
        letter-spacing: 0.3;
        padding: 11px 10px;
        border-color: var(--bs-gray);
      }
    }
  }
  .modal-footer {
    border-top: none;
    padding: 8px 32px 32px 32px;
  }
}
.save_btn {
  width: 88px;
  .button {
    padding: 12px 16px;
  }
}
.remove_btn {
  width: 113px;
  .button {
    padding: 12px 16px;
  }
}
.form-check-input {
  border: 1px solid var(--bs-black);

  &:checked[type='checkbox'] {
    background-image: url('../../images/checkbox_checked.png') !important;
    // background-repeat: no-repeat !important;
    background: url('../../images/checkbox_checked.png') var(--bs-white)
      no-repeat center !important;
    border-color: var(--bs-black);
  }
  &:focus {
    box-shadow: none !important;
    border-color: var(--bs-black);
  }
}
.add_your {
  margin-top: 40px;
}
.dropdown-toggle {
  border: 1px solid var(--bs-white);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bs-primary);
  font-weight: 600;
  &::after {
    background: url('../../images/downarr.png') no-repeat right;
    border: none;
    width: 14px;
    height: 8px;
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.dropdown-toggle {
  &::after {
    background: url('../../images/downarr.png') no-repeat right;
    border: none;
    width: 14px;
    height: 8px;
  }
}
.chip_ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 16px;
  margin: 40px 0 40px 0;
  .chip_li {
    padding: 10px 24px;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: var(--bs-black);
    background: var(--bs-dark-gray1);
    @include border-radius(8px);
    border: 1px solid var(--bs-black);
  }
}
.skills_list_chip {
  .chip_li {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
.error_note {
  font-size: 0.85rem;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: var(--bs-red-error) !important;
  display: block;
  width: 100%;
}
.dropdown-menu {
  min-width: 100% !important;
}
.custom_alert {
  position: fixed;
  top: 75px;
  z-index: 1;
  right: 25px;
  padding: 14px 32px 12px 24px;
  &.custom_alert_login {
    top: inherit;
    bottom: 0px;
    @include xs-small-screen {
      width: calc(100% - 50px);
    }
    @include medium-screen {
      top: 30px;
      bottom: inherit;
    }
  }
  @include border-radius(8px);
  &.alert-success {
    background: var(--bs-alert-success);
    border-left: 8px solid green;
  }
  &.alert-danger {
    background: var(--bs-red-light);
    border-left: 8px solid var(--bs-red-error);
  }
  &.alert-warning {
    background: var(--bs-light-warning);
    border-left: 8px solid var(--bs-warning);
  }
  &.alert-info {
    background: var(--bs-light-blue);
    border-left: 8px solid var(--bs-blue);
  }
  .alert_lbl {
    padding-right: 20px;
    .heading {
      font-size: 0.875rem;
      line-height: 17px;
      color: var(--bs-black);
    }
    .para {
      font-size: 0.875rem;
      line-height: 17px;
      color: var(--bs-black);
    }
  }
  .alert_wrap {
    gap: 16px;
  }
  .btn-close {
    opacity: 1;
    background: url('../../images/close.png') no-repeat;
    top: 15px;
    right: 20px;
  }
}
.error_wrap {
  input {
    border-color: var(--bs-red-error);
    background: url('../../images/valerror.png') no-repeat right 10px center !important;
  }
  .error {
    font-size: 0.75rem;
    line-height: 17px;
    color: var(--bs-red-error);
    text-transform: capitalize;
    margin-top: 4px;
  }
}
.error_warning {
  gap: 10px;
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--bs-warning1);
  margin-top: 4px;
}
.hr_divider {
  border-bottom: 1px solid var(--bs-divider);
  margin: 37px 0;
}
