* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  // background: var(--bs-purple);

  font-size: 1rem;
  font-family: 'Inter';
  &.user_act_page {
    background: url('../../images/logobg.png') no-repeat var(--bs-dark-blue2);
    background-size: contain;
  }
}
.input_field {
  font-size: 0.875rem;
  line-height: 16px;
  padding: 13px 12px;
  // background: var(--bs-disabled);
  @include border-radius(8px);
  color: var(--bs-black);
}
.custom_form_lbl {
  font-size: 1rem;
  color: var(--bs-black);
  font-weight: 500;
}
.font700 {
  font-weight: 700;
}
.font500 {
  font-weight: 500;
}
.font600 {
  font-weight: 600;
}
.fontbold {
  font-weight: bold;
}
.page_title {
  font-size: 1.3rem;
  line-height: 39px;
  letter-spacing: 0.3px;
}
.modal {
  .modal-header {
    border-bottom: none;
    padding: 32px 32px 24px 32px;
    .modal-title {
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 28px;
    }
  }
  .modal-body {
    padding: 8px 32px 32px 32px;
    p {
      font-size: 1rem;
      line-height: 19px;
      margin-bottom: 8px;
      color: var(--bs-black);
    }
    .about_survey_container {
      textarea {
        resize: none;
        font-size: 0.875rem;
        &:focus {
          box-shadow: none;
        }
      }
      .charLimit {
        font-size: 0.875rem;
        line-height: 17px;
        letter-spacing: -0.3px;
        color: var(--bs-light-blue);
      }
    }
    .experience_survey_container {
      .form-label {
        font-size: 0.875rem;
        line-height: 19px;
        margin-bottom: 8px;
        font-weight: 500;
      }
      .form-control {
        font-size: 0.875rem;
        line-height: 17px;
        letter-spacing: 0.3;
        padding: 11px 10px;
        border-color: var(--bs-gray);
      }
    }
  }
  .modal-footer {
    border-top: none;
    padding: 8px 32px 32px 32px;
  }
}
.save_btn {
  width: 88px;
  .button {
    padding: 12px 16px;
  }
}
.remove_btn {
  width: 113px;
  .button {
    padding: 12px 16px;
  }
}
.form-check-input {
  border: 1px solid var(--bs-black);

  &:checked[type='checkbox'] {
    background-image: url('../../images/checkbox_checked.png') !important;
    // background-repeat: no-repeat !important;
    background: url('../../images/checkbox_checked.png') var(--bs-white)
      no-repeat center !important;
    border-color: var(--bs-black);
  }
  &:focus {
    box-shadow: none !important;
    border-color: var(--bs-black);
  }
}
.add_your {
  margin-top: 40px;
}
.dropdown-toggle {
  border: 1px solid var(--bs-white);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bs-primary);
  font-weight: 600;
  &::after {
    background: url('../../images/downarr.png') no-repeat right;
    border: none;
    width: 14px;
    height: 8px;
  }
}
.dropdown-toggle {
  &::after {
    background: url('../../images/downarr.png') no-repeat right;
    border: none;
    width: 14px;
    height: 8px;
  }
}
.chip_ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 16px;
  margin: 40px 0 40px 0;
  .chip_li {
    padding: 10px 24px;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: var(--bs-black);
    background: var(--bs-dark-gray1);
    @include border-radius(8px);
    border: 1px solid var(--bs-black);
  }
}
.skills_list_chip {
  .chip_li {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
