header {
  // background: var(--bs-primary);
  background: var(--bs-purple);
  padding: 0 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--bs-secondary);
  @include medium-screen {
    .menu {
      ul {
        list-style: none;
        margin-bottom: 0;
        li {
          padding: 10px 12px;
          .menu_span {
            padding: 12px 10px;
            gap: 16px;
            font-size: 1rem;
            border: 1px solid transparent;
            &:hover {
              border: 1px solid var(--bs-primary);
              @include border-radius(8px);
            }
            .dropdown-menu {
              // transform: translate(0px, 46px) !important;
              transform: translate(0px, 48px) !important;
              border: 1px solid var(--bs-primary);
              border-top: transparent;
            }
          }
        }
      }
    }
    .rt_menu {
      ul {
        list-style: none;
        margin-bottom: 0;
        gap: 18px;
        li {
          .rt_menu_span {
            font-size: 0.875rem;
            gap: 14px;
            .gray_img_bx {
              width: 44px;
              height: 44px;
              background: var(--bs-dark-gray);
              @include border-radius(50px);
            }
            &.rt_menu_user {
              font-size: 1rem;
            }
          }
        }
      }
      .dropdown-toggle {
        border: 1px solid var(--bs-primary);
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--bs-primary);
        font-weight: 600;
        &::after {
          background: url('../../images/downarr.png') no-repeat right;
          border: none;
          width: 14px;
          height: 8px;
        }
      }
      .lang_drp {
        .dropdown-menu {
          transform: translate(0px, 50px) !important;
        }
      }
      .dropdown-menu {
        padding: 0 16px;
        li {
          padding: 16px 0;
          &:not(:last-child) {
            border-bottom: 1px solid var(--bs-light-gray);
            margin-bottom: 8px;
          }
          .dropdown-item {
            display: flex;
            gap: 24px;
            align-items: center;
            padding: 0;
            &:active,
            &:hover {
              background: var(--bs-white);
              color: var(--bs-black);
            }
            // &.active {
            //   background: var(--bs-light-gray);
            //   @include border-radius(6px);
            // }
          }
        }
        &.profile-drp-menu {
          transform: translate(16px, 62px) !important;
        }
      }
    }
  }
  .logo {
    padding-left: 0px;
    a {
      display: flex;
      gap: 10px;
      font-size: 1.3rem;
      line-height: 29px;
      color: var(--bs-secondary);
    }
  }
}
.main_content {
  @include medium-screen {
    padding-top: 68px;
  }
  .leftsidebar {
    width: 240px;
    // background: var(--bs-primary);
    background: var(--bs-purple);
    height: calc(100vh - 100px);
    height: calc(100vh - 68px);
    overflow-y: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--bs-secondary);
    @include medium-screen {
      position: fixed;
      top: 68px;
    }
    ul {
      // padding: 0 16px;
      padding: 20px 16px 32px 16px;
      li {
        list-style: none;
        padding: 12px 16px;

        a {
          gap: 20px;
          color: var(--bs-primary);
          font-weight: 600;
        }
        &.active {
          background: var(--bs-white);
          @include border-radius(6px);
          a {
            color: var(--bs-primary);
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .main_content_right {
    margin-left: 240px;
    padding: 24px 32px;
  }
}
