// @font-face {
//   font-family: 'Arial';
//   src: url('../../fonts/ArialMT.woff2') format('woff2'),
//     url('../../fonts/ArialMT.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Arial';
//   src: url('../../fonts/ArialGEOBold.woff2') format('woff2'),
//     url('../../fonts/ArialGEOBold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'Arial';
  src: url('../../fonts/Arial-BoldMT.woff2') format('woff2'),
    url('../../fonts/Arial-BoldMT.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src: url('../../fonts/ArialMT.woff2') format('woff2'),
    url('../../fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src: url('../../fonts/ArialCEMTBlack-Regular.woff2') format('woff2'),
    url('../../fonts/ArialCEMTBlack-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../../fonts/Arial-Lgt.woff2') format('woff2'),
    url('../../fonts/Arial-Lgt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../../fonts/Arial-Mdm.woff2') format('woff2'),
    url('../../fonts/Arial-Mdm.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
